@charset "UTF-8";
/* 修改element ui 样式 */
.login-panel .el-input__inner {
  text-indent: 0px;
  font-family: STYuanti-SC-Regular;
  font-size: 14px;
  color: #D3D3D3;
  letter-spacing: 0.1px;
  background: none;
}

.login-panel .el-radio__inner {
  background: none;
  border: #01C6FD;
}

.login-panel .el-checkbox__input .el-checkbox__inner {
  border-radius: 50%;
  background: none;
}

.login-panel .login-input input {
  border-radius: 0;
  color: white;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  color: white;
}

.login-panel .login-input .el-form-item.is-error .el-input__inner {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}

.login-panel .login-input .el-form-item.is-success .el-input__inner {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}

.login-panel .login-input input {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}

.login-panel .login-input:hover .el-input__inner {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  box-shadow: none;
}

.login-panel .login-input-code input, .login-panel .login-input-code input[placeholder] {
  border: #FFD0D0C7 1px solid;
  background-color: #105A98;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  color: white;
  height: 32px;
}

.el-button--primary {
  background-color: #105A98;
  color: #fff;
}

.authority .el-input__inner {
  color: #666;
}
