<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxnerva.cloud.portal.admin.dao.mapper.CustomResourceMapper">
	<select id="uniqueEdit" parameterType="com.maxnerva.cloud.portal.admin.dao.entity.CustomResourceEntity" resultType="int">
		SELECT
		    count( id )
		FROM
		    custom_resource
		WHERE
		    1=1
		    AND id = #{id}
		    AND EXISTS ( SELECT 1 FROM custom_resource WHERE 1=1
		    <if test="keyWord != '' and  keyWord != null ">
			and key_word = #{keyWord}
		    </if>
		    AND id != #{id} )
	</select>

</mapper>
