<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxnerva.cloud.portal.admin.dao.mapper.WebNavigationMapper">
	
	<update id="updateOldDataOrderNoTargetUp" parameterType="int">
		update web_navigation t 
		set t.order_no =t.order_no +1 
		where t.order_no  <![CDATA[  >= ]]> #{newOrderNo} 
			and t.order_no  <![CDATA[ <  ]]> #{orgOrderNo}
			and t.business_type_id=#{businessTypeId}
			
	</update>
	<update id="updateOldDataOrderNoTargetDown" parameterType="int">
		update web_navigation t
		 set t.order_no =t.order_no -1 
		 where t.order_no  <![CDATA[ >  ]]> #{orgOrderNo} 
		 and t.order_no  <![CDATA[ <= ]]> #{newOrderNo} 
		 and t.business_type_id=#{businessTypeId}
		 
	</update>
	<!-- uniqueEdit -->
	<select id="uniqueEdit" parameterType="com.maxnerva.cloud.portal.admin.dao.entity.WebNavigationEntity" resultType="int">
		SELECT
			count( id ) 
		FROM
			web_navigation 
		WHERE
			1=1 
			AND id = #{id} 
			AND EXISTS ( SELECT 1 FROM web_navigation WHERE 1=1
				<if test="applicationCode != '' and  applicationCode != null ">
					and application_code = #{applicationCode}
				</if>
				<if test="webNavigationCode != '' and webNavigationCode != null">
					and web_navigation_code = #{webNavigationCode}
				</if>
				
				AND id != #{id} )
	</select>
</mapper>
